html,body{
    background-color:#E4E4E4;
    font-family:'Manrope', sans-serif;
}

.container{
    width:450px;
    height:auto;
    margin:auto;
    margin-top:150px;
    background-color:#FFFFFF;
    border-radius: 10px;
    padding:30px;
    border: 1px solid #CCCCCC; 
}

img{
    height:180px;
    width:450px;
}

.header-cont{
    margin-left:15px;
}
h2{
    margin-top:10px;
    margin-bottom:5px;
    font-weight: 900;
}

p{
    margin-left: 15px;
    margin-top: 0px;
}


.buttons a:hover{
    background-color: #CCCCCC;
    border-radius: 2px;
}
.button{
    margin:30px;
    color:red;
    text-decoration: none;
}


